<div>
    <div class="modal-header bg-danger">
        <h3 class="modal-title text-danger"><span class="glyphicon glyphicon-warning-sign"></span> Warning!</h3>
    </div>
    <div class="modal-body">
        <h3>Are you sure that you want to <strong>delete contract {{contractsDeleteCtrl.contract.ContractID}}</strong> ?</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="contractsDeleteCtrl.submit()">Delete</button>
        <button class="btn btn-default" ng-click="contractsDeleteCtrl.cancel()">Cancel</button>
    </div>
</div>