<div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding-bottom:20px">
                <span class="panel-title">
                    Trades
                    <span class="badge">{{executionsCtrl.executions.length}}</span>
                </span>
                <div class="pull-right">
                    <form class="form-inline">
                        <div class="form-group-sm">
                            <input id="execs-date" type="date" class="form-control" ng-model="executionsCtrl.activeDate" ng-change="executionsCtrl.changeDate()" />
                            <button type="button" class="btn btn-default btn-sm" ng-disabled="executionsCtrl.downloading || !executionsCtrl.executions || executionsCtrl.executions.length === 0" ng-click="executionsCtrl.exportToExcel()">Excel</button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-hover" ng-hide="!executionsCtrl.executions || executionsCtrl.executions.length === 0">
                <tr>
                    <th>Exec Time (HKT)</th>
                    <th>Strategy</th>
                    <th>Origin</th>
                    <th>Side</th>
                    <th>Quantity</th>
                    <th>Pair</th>
                    <th>Rate</th>
                    <th>P&amp;L (USD)</th>
                    <th class="hidden-sm">PnL (pips)</th>
                    <th class="hidden-sm">Duration</th>
                    <th class="hidden-sm hidden-xs">Fees (USD)</th>
                </tr>
                <tr ng-repeat="execution in executionsCtrl.executions | orderBy:'-ExecutionTime' track by execution.ExecutionId" ng-click="executionsCtrl.showTradeDetails(execution.ExecutionId)">
                    <td>{{execution.ExecutionTime | date:'dd/MM/yy HH:mm:ss'}}</td>
                    <td class="text-overflow">{{execution.Strategy}}</td>
                    <td class="text-overflow">{{execution.OrderOrigin}}</td>
                    <td>{{execution.Side}}</td>
                    <td>{{execution.Quantity / 1000}}K</td>
                    <td>{{execution.Cross}}</td>
                    <td>{{executionsCtrl.formatRate(execution.Cross, execution.Price)}}</td>
                    <td ng-class="[{'bg-success': execution.RealizedPnlUsd > 0}, {'bg-danger': execution.RealizedPnlUsd < 0}]">{{execution.RealizedPnlUsd | number:2}}</td>
                    <td ng-class="[{'hidden-sm bg-success': execution.RealizedPnlPips > 0}, {'hidden-sm bg-danger': execution.RealizedPnlPips < 0}]">{{execution.RealizedPnlPips | number:1}}</td>
                    <td class="hidden-sm">{{execution.TradeDuration}}</td>
                    <td class="hidden-sm hidden-xs">{{execution.CommissionUsd | number:2}}</td>
                </tr>
            </table>
            <div class="panel-body" ng-show="!executionsCtrl.executions || executionsCtrl.todaysExecutions.length == 0">
                <p>No trade on {{executionsCtrl.date | date:'dd/MM/yy'}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
        <div ng-class="[{'panel panel-success': executionsCtrl.grossPnl - executionsCtrl.totalCommissions > 0}, {'panel panel-default': !executionsCtrl.grossPnl || executionsCtrl.grossPnl - executionsCtrl.totalCommissions == 0}, {'panel panel-danger': executionsCtrl.grossPnl - executionsCtrl.totalCommissions < 0}]">
            <div class="panel-heading">
                <strong class="panel-title">PnL (USD)</strong>
                <div class="pull-right">
                    Gross: {{executionsCtrl.grossPnl | number:2}} |
                    Fees: {{executionsCtrl.totalCommissions | number:0}} |
                    Net: <strong style="font-size:large">{{executionsCtrl.grossPnl - executionsCtrl.totalCommissions | number:2}} USD</strong>
                </div>
            </div>
            <div class="panel-body">
                <div ng-repeat="position in executionsCtrl.latestPositions">
                    <div class="panel-default">
                        <div class="panel-heading" ng-click="executionsCtrl.requestAccount(position.AccountName)">{{position.Broker}} - {{position.AccountName}}</div>
                        <table class="table">
                            <tr>
                                <th>Cross</th>
                                <th>Quantity</th>
                                <th>Average Cost</th>
                                <th>Last</th>
                                <th class="hidden-sm hidden-xs">PnL</th>
                                <th>PnL (USD)</th>
                            </tr>
                            <tr ng-repeat="positionSecurity in position.PositionSecurities | orderBy:'Cross'">
                                <td>{{positionSecurity.Cross}}</td>
                                <td ng-class="[{'bg-success': positionSecurity.PositionQuantity > 0}, {'bg-danger': positionSecurity.PositionQuantity < 0}]">{{positionSecurity.PositionQuantity / 1000}}K</td>
                                <td>{{executionsCtrl.formatRate(positionSecurity.Cross, positionSecurity.AverageCost)}}</td>
                                <td>{{executionsCtrl.formatRate(positionSecurity.Cross, positionSecurity.MarketPrice)}}</td>
                                <td ng-class="[{'hidden-sm hidden-xs bg-success': positionSecurity.RealizedPnL > 0}, {'hidden-sm hidden-xs bg-danger': positionSecurity.RealizedPnL < 0}]">{{positionSecurity.RealizedPnL | number:2}}</td>
                                <td ng-class="[{'bg-success': positionSecurity.RealizedPnlUsd > 0}, {'bg-danger': positionSecurity.RealizedPnlUsd < 0}]">{{positionSecurity.RealizedPnlUsd | number:2}}</td>
                            </tr>
                        </table>
                        <div class="panel-footer">
                            <p style="font-size: small; font-style: italic;">Last updated at {{position.Timestamp | date:'dd/MM/yy HH:mm:ss'}}</p>
                        </div>
                    </div>
                </div>
                <p ng-show="executionsCtrl.latestPositions.length === 0">No open position</p>
            </div>
        </div>
    </div>
</div>
