<div>
    <div class="modal-header">
        <h3 class="modal-title">
            Order {{orderDetailsCtrl.order.OrderID}}
            <small><a href="{{orderDetailsCtrl.detailsLink}}" target="_blank"><span class="glyphicon glyphicon-share"></span> Link</a></small>
        </h3>
    </div>
    <table class="table table-condensed">
        <tr ng-repeat="(key, value) in orderDetailsCtrl.order">
            <td><label>{{key}}</label></td>
            <td>{{value}}</td>
        </tr>
    </table>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="orderDetailsCtrl.close()">Close</button>
    </div>
</div>
