<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Strats Configurations</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Stratedge Algo</h4>
                </div>
                <div class="panel-body">
                    <uib-accordion close-others="false">
                        <uib-accordion-group ng-repeat="(key, configs) in stratConfigsCtrl.stratedgeConfigs">
                            <uib-accordion-heading>
                                {{key}}
                                <button class="btn btn-xs btn-danger pull-right" ng-click="stratConfigsCtrl.toggleStratedgeConfigEditIndex(key)">Edit</button>
                            </uib-accordion-heading>
                            <div class="table-responsive">
                                <table class="table table-condensed" ng-hide="stratConfigsCtrl.stratedgeConfigEditIndex === key">
                                    <tr>
                                        <th></th>
                                        <th>BufferLengthInMinutes</th>
                                        <th>HighLowMultiplier</th>
                                        <th>HighLowMinDiff</th>
                                        <th>LimitLevelInPips</th>
                                        <th>StopLevelInPips</th>
                                        <th>StopLevelTighteningFactorPer10MinutesInPips</th>
                                        <th>LimitLevelUpdateMinTimeElapsedInSeconds</th>
                                        <th>StopLevelUpdateMinTimeElapsedInSeconds</th>
                                        <th>UseTrailingStopOrders</th>
                                        <th>UseContingentLimitOrders</th>
                                        <th>NotifyPositionReverse</th>
                                        <th>NotifyOpenTradeMetrics</th>
                                    </tr>
                                    <tr ng-repeat="config in configs | orderBy:'StratName'">
                                        <td>{{config.StratName}}</td>
                                        <td>{{config.ParamBufferLengthInMinutes | number}}</td>
                                        <td>{{config.ParamHighLowMultiplier | number}}</td>
                                        <td>{{config.ParamHighLowMinDiff | number}}</td>
                                        <td>{{config.ParamLimitLevelInPips | number}}</td>
                                        <td>{{config.ParamStopLevelInPips | number}}</td>
                                        <td>{{config.ParamStopLevelTighteningFactorPer10MinutesInPips | number}}</td>
                                        <td>{{config.ParamLimitLevelUpdateMinTimeElapsedInSeconds | number}}</td>
                                        <td>{{config.ParamStopLevelUpdateMinTimeElapsedInSeconds | number}}</td>
                                        <td>
                                            <span class="glyphicon glyphicon-ok-circle" ng-show="config.ParamUseTrailingStopOrders"></span>
                                            <span class="glyphicon glyphicon-remove-circle" ng-hide="config.ParamUseTrailingStopOrders"></span>
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-ok-circle" ng-show="config.ParamUseContingentLimitOrders"></span>
                                            <span class="glyphicon glyphicon-remove-circle" ng-hide="config.ParamUseContingentLimitOrders"></span>
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-ok-circle" ng-show="config.ParamNotifyPositionReverse"></span>
                                            <span class="glyphicon glyphicon-remove-circle" ng-hide="config.ParamNotifyPositionReverse"></span>
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-ok-circle" ng-show="config.ParamNotifyOpenTradeMetrics !== false"></span>
                                            <span class="glyphicon glyphicon-remove-sign" ng-show="config.ParamNotifyOpenTradeMetrics === false"></span>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table table-condensed" ng-show="stratConfigsCtrl.stratedgeConfigEditIndex === key">
                                    <tr>
                                        <th></th>
                                        <th>BufferLengthInMinutes</th>
                                        <th>HighLowMultiplier</th>
                                        <th>HighLowMinDiff</th>
                                        <th>LimitLevelInPips</th>
                                        <th>StopLevelInPips</th>
                                        <th>StopLevelTighteningFactorPer10MinutesInPips</th>
                                        <th>LimitLevelUpdateMinTimeElapsedInSeconds</th>
                                        <th>StopLevelUpdateMinTimeElapsedInSeconds</th>
                                        <th>UseTrailingStopOrders</th>
                                        <th>UseContingentLimitOrders</th>
                                        <th>NotifyPositionReverse</th>
                                        <th>NotifyOpenTradeMetrics</th>
                                    </tr>
                                    <tr ng-repeat="config in configs | orderBy:'StratName'">
                                        <td>{{config.StratName}}</td>
                                        <td><input class="form-control" type="number" ng-model="config.ParamBufferLengthInMinutes" /></td>
                                        <td><input class="form-control" type="number" ng-model="config.ParamHighLowMultiplier" /></td>
                                        <td><input class="form-control" type="number" ng-model="config.ParamHighLowMinDiff" /></td>
                                        <td><input class="form-control" type="number" ng-model="config.ParamLimitLevelInPips" /></td>
                                        <td><input class="form-control" type="number" ng-model="config.ParamStopLevelInPips" /></td>
                                        <td><input class="form-control" type="number" ng-model="config.ParamStopLevelTighteningFactorPer10MinutesInPips" /></td>
                                        <td><input class="form-control" type="number" ng-model="config.ParamLimitLevelUpdateMinTimeElapsedInSeconds" /></td>
                                        <td><input class="form-control" type="number" ng-model="config.ParamStopLevelUpdateMinTimeElapsedInSeconds" /></td>
                                        <td><input type="checkbox" ng-model="config.ParamUseTrailingStopOrders" /></td>
                                        <td><input type="checkbox" ng-model="config.ParamUseContingentLimitOrders" /></td>
                                        <td><input type="checkbox" ng-model="config.ParamNotifyPositionReverse" /></td>
                                        <td><input type="checkbox" ng-model="config.ParamNotifyOpenTradeMetrics" /></td>
                                    </tr>
                                    <tr>
                                        <td>All</td>
                                        <td><input class="form-control" type="number" ng-model="stratConfigsCtrl.allStratedgeConfigs.ParamBufferLengthInMinutes" /></td>
                                        <td><input class="form-control" type="number" ng-model="stratConfigsCtrl.allStratedgeConfigs.ParamHighLowMultiplier" /></td>
                                        <td><input class="form-control" type="number" ng-model="stratConfigsCtrl.allStratedgeConfigs.ParamHighLowMinDiff" /></td>
                                        <td><input class="form-control" type="number" ng-model="stratConfigsCtrl.allStratedgeConfigs.ParamLimitLevelInPips" /></td>
                                        <td><input class="form-control" type="number" ng-model="stratConfigsCtrl.allStratedgeConfigs.ParamStopLevelInPips" /></td>
                                        <td><input class="form-control" type="number" ng-model="stratConfigsCtrl.allStratedgeConfigs.ParamStopLevelTighteningFactorPer10MinutesInPips" /></td>
                                        <td><input class="form-control" type="number" ng-model="stratConfigsCtrl.allStratedgeConfigs.ParamLimitLevelUpdateMinTimeElapsedInSeconds" /></td>
                                        <td><input class="form-control" type="number" ng-model="stratConfigsCtrl.allStratedgeConfigs.ParamStopLevelUpdateMinTimeElapsedInSeconds" /></td>
                                        <td><input type="checkbox" ng-model="stratConfigsCtrl.allStratedgeConfigs.ParamUseTrailingStopOrders" /></td>
                                        <td><input type="checkbox" ng-model="stratConfigsCtrl.allStratedgeConfigs.ParamUseContingentLimitOrders" /></td>
                                        <td><input type="checkbox" ng-model="stratConfigsCtrl.allStratedgeConfigs.ParamNotifyPositionReverse" /></td>
                                        <td><input type="checkbox" ng-model="stratConfigsCtrl.allStratedgeConfigs.ParamNotifyOpenTradeMetrics" /></td>
                                    </tr>
                                </table>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <uib-accordion close-others="false">
                    <uib-accordion-group ng-repeat="config in stratConfigsCtrl.configs | orderBy:['StratName','StratVersion','-ConfigVersion']">
                        <uib-accordion-heading>
                            {{config.StratName}} - v{{config.StratVersion}} <small>({{config.ConfigVersion}})</small>
                        </uib-accordion-heading>
                        <div class="container-fluid">
                            <div ng-repeat="(key, value) in config | orderBy:'key'" class="row">
                                <div class="col-sm-3 col-md-2">
                                    <label>{{key}}</label>
                                </div>
                                <div class="col-sm-9 col-md-10">
                                    {{value}}
                                </div>
                            </div>
                            <div class="btn-group-xs">
                                <button class="btn btn-success" role="button" ng-click="stratConfigsCtrl.duplicate(config)"><span class="glyphicon glyphicon-plus-sign"></span> Duplicate</button>
                                <button class="btn btn-danger" role="button" ng-click="stratConfigsCtrl.delete(config)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                            </div>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>-->
    </div>
</div>