<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Filter</h4>
                </div>
                <div class="panel-body">
                    <form name="filterform" class="form-horizontal" ng-submit="stratDatapointsCtrl.exportToExcel()">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="stratname" class="col-sm-6 col-md-4 control-label">Strategy:</label>
                                <div class="col-sm-6 col-md-8">
                                    <select name="stratname" class="form-control" ng-model="stratDatapointsCtrl.stratName" required>
                                        <option ng-repeat="strat in stratDatapointsCtrl.stratNames">{{strat}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="checkbox col-sm-6">
                                <label>
                                    <input type="checkbox" ng-model="stratDatapointsCtrl.tradedOnly" />
                                    Traded only
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="start-date" class="col-sm-6 col-md-4 control-label">Start Date:</label>
                                <p class="input-group col-sm-6 col-md-8">
                                    <input name="start-date" type="date" class="form-control" uib-datepicker-popup ng-model="stratDatapointsCtrl.lowerBoundDate" is-open="stratDatapointsCtrl.lowerBoundDateOpen"
                                           min-date="stratDatapointsCtrl.minDate" max-date="stratDatapointsCtrl.maxDate"
                                           datepicker-options="stratDatapointsCtrl.dateOptions" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="stratDatapointsCtrl.open('lowerDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="start-time" class="col-sm-6 col-md-4 control-label">Start Time:</label>
                                <p title="start-time" class="input-group col-sm-6 col-md-8">
                                    <uib-timepicker ng-model="stratDatapointsCtrl.lowerBoundTime" show-meridian="false" show-spinners="false"></uib-timepicker>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="end-date" class="col-sm-6 col-md-4 control-label">End Date:</label>
                                <p class="input-group col-sm-6 col-md-8">
                                    <input name="end-date" type="date" class="form-control" uib-datepicker-popup ng-model="stratDatapointsCtrl.upperBoundDate" is-open="stratDatapointsCtrl.upperBoundDateOpen"
                                           min-date="stratDatapointsCtrl.minDate" max-date="stratDatapointsCtrl.maxDate"
                                           datepicker-options="stratDatapointsCtrl.dateOptions" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="stratDatapointsCtrl.open('upperDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="end-time" class="col-sm-6 col-md-4 control-label">End Time:</label>
                                <p title="end-time" class="input-group col-sm-6 col-md-8">
                                    <uib-timepicker ng-model="stratDatapointsCtrl.upperBoundTime" show-meridian="false" show-spinners="false"></uib-timepicker>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary" ng-disabled="filterform.$invalid || stratDatapointsCtrl.loading">Load Excel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="stratDatapointsCtrl.downloading">
        <div class="col-sm-4 col-md-3">
            <p><div us-spinner>Loading file... </div></p>
        </div>
    </div>
</div>